*{
    font-family:'Segoe UI', sans-serif;
    line-height: 2rem;
}

#title{
    padding:2rem;
}

#url{
    width:70%;
    border-color: black;
    border-top: 0rem;
    border-left: 0rem;
    border-right: 0rem;
    font-size: 1rem;
    text-align: center;
    padding:0.5rem;
    font-size:1rem;
}

#btn{
    font-size: 1rem;
    color: white;
    background-color: #9CCA8E;
    border-radius: 20px;
    border: 0px;
    margin:1rem;
    padding-right:1.2rem;
    padding-left:1.2rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

#results{
    padding:2.5rem;
    background-color: #FAFAFA;
    margin:5rem;
    font-size:1.1rem;
    border-color:#9CCA8E;
}